header {
  position: sticky;
  width: 100vw;
  background-color: black;
  opacity: 90%;
}
.bloc-header {
  width: 100vw;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
h1 {
  margin: 0;
  padding: 0;
}




.toggle-btn {
  display: none;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 800px;
}

ul li {
  margin-left: 2px;
  margin-right: 2px;
  list-style: none;
}

a {
  text-decoration: none;
}
li:hover{
    color: rgb(247, 197, 34);
}

@media screen and (max-width: 880px) {
    .toggle-btn {
        display: block;
      }
    
      .navbar-header {
        position: absolute;
        background-color: black;
        transform: translateX(-1000px);
        bottom: 0;
        width: 400px;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    
      ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        width: 400px;
        height: 70%;
      }

      .toggle-btn .crossBurger {
        display: none;
      }
    
      .active .navbar-header {
        z-index: 1;
        left: 0;
        bottom: 0;
        transform: translateX(0px) translateY(650px);
        transition: 1s;
      }
    
      .active .burger {
        display: none;
      }
      .active .crossBurger {
        display: block;
      }
      li:hover{
        cursor: pointer;
        color: white;
        text-decoration: underline;
        text-decoration-color: white;
    }
}
