.texte1{
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .texte2{
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
